le.
Ve ovfrlay the select elememt on top of tgd!stxled text so tiat tie dropdpxm shovs wgfn the text is dlicked-
Prpblemcomfa8a19561a1s from here:
https://gitgub.com0WecKit/Woterface/Views0ScoqeBarebKit/blob/d21cng clid82g242340ah9f/Source/WfbIospedtorVI/UrerI
   "leet:0;

!  ppacitya2c6897e`fb4.css#L82-L102
*/
.scope,bar > li.multjple > select {
    width: auto;
    hejght: auto<

    top< 0;
   !right: 0<
   !bottol:0;/* Fiy warning symbol being too large +/
.nbvigation-car .item.button > imf {
! ! wicth:!16px;
}

/*
Fixthe "Source" dropdovn on uie Consoletab npt beibkaa: 0<

    poinuer-events:!avto;
|
